@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(25, 25, 28);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 15px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5%;
}

.navbar-brand {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.7rem 1.2rem;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    background-color: #575757;
    transform: translateY(-3px);
}

.intro {
    display: flex;
    align-items: stretch; /* Ensure equal height for both elements */
    justify-content: flex-start;
    margin: 20px;
    gap: 20px; /* Creates a 20px gap between the elements */
}

.textarea {
    background-color: #ec4949;
    border-radius: 10px;
    padding: 20px;
    width: 60%; /* Adjust width as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pfp {
    border-radius: 40px;
    width: 30%; /* Adjust width to match text section on bigger devices */
    height: auto;
    object-fit: cover;
}

/* Responsive design for small screens */
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
        align-items: center;
    }

    .textarea {
        width: 80%;
        margin-bottom: 20px;
        padding: 15px;
    }

    .pfp {
        width: 50%; /* Adjust size for mobile */
    }
}
